@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #111315;
  --foreground: #ffffff;
  --font-clash-display: "Clash Display", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  font-family: var(--font-clash-display);
  color: var(--foreground);
  background: var(--background);
  background-image: url("../../public/bg-gradient.svg");
  background-position: left end;
  background-repeat: no-repeat;
  background-size: 100%;
}
